
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddJogo";
}
<head>
 <h2 style="color:white; font-size:x-large">Para adicionar um jogo para compra ou venda preencha os campos abaixo</h2>
</head>

<body>

    <div style="color:white">
    <table style="background-color:black; border-style:solid">
        <tr>
            <td>Nome do jogo</td> <td><input type="text"/><td>
        </tr>

        <tr>
            <td>Plataforma</td> <td><input type="text" /></td>
        </tr>

        <tr>
            <td><input type="checkbox">Venda</td> <td><input type="checkbox">Troca</td>
        </tr>

    </table>
    </div>
</body>