
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Aluguel";
}

<h2 style="color:white; font-size:40px">Lista Jogos para Aluguel</h2>

<div>
    <table style="color:white; background-color:black; border-style:solid">
        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>

        <tr>
            <td>Jogo</td>
            <td>--</td>
            <td>Plataforma</td>
            <td>--</td>
            <td>Gênero</td>
            <td>--</td>
            <td>Status</td>
        </tr>
    </table>
</div>