
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Aviso";
}

<h2>Aviso</h2>

<div>
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-dark" })
    @Html.ActionLink("Cadastrar-se", "Create", null, new { @class = "btn btn-dark" })
</div>
