
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Carrinho";
}

<h2 style="color:white; font-size:40px">Carrinho</h2>

<div style="margin-left:300px">
    <table style="background-color:black; color:white; border-style:solid" class="comBordas">
        <tr>
            <td>Nome do Jogo</td>
            <td>---</td>
            <td>Plataforma</td>
            <td>---</td>
            <td>Gênero</td>
            <td>---</td>
            <td>Preço</td>
            <td>---</td>
            <td>Frete</td>
        </tr>

        <tr>
            <td>Anthem</td>
            <td>---</td>
            <td>PS4</td>
            <td>---</td>
            <td>Tiro</td>
            <td>---</td>
            <td>150,00</td>
            <td>---</td>
            <td>10,00</td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
            <td>---</td>
            <td></td>
        </tr>
    </table>
    <input type="submit" value="Confirmar" class="btn btn-dark">
    @Html.ActionLink("Voltar","Index", null, new{@class= "btn btn-dark" })
</div>
