
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Compra";
}

<h2 style="color:white; font-size:40px">Busque aqui os jogos a venda</h2>





<div>
    @Html.ActionLink("Voltar","Index", null, new {@class= "btn btn-dark"})
</div>

