

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}
<div style="margin-left: 250px; margin-top:250px">
<h1 style="font:700;font-size:100px;color: white;">Game&Tech</h1>
</div>
<body>
<div style="margin-left:480px">
    @Html.ActionLink("Entrar", "Index", null, new { @class="btn btn-dark"})
</div>
</body> 