
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AddJogo";
}

<h2 style="color:white; font-size:x-large">Para adicionar um jogo para compra ou venda preencha os campos abaixo</h2>

